* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: transparent;
    text-align: center;
    z-index: 123;
}

#header .nav {
    margin-left: 20%;
}

#header .nav li {
    display: inline-block;
    list-style-type: none;
    padding: 20px 30px;  
}

#header .header-icon {
    float: left;
    margin-top: 5px;
    margin-left: 60px;
    width: 60px;
}

#header .header-icon:hover {
    width: 70px;
}

.nav li a {
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    text-shadow: 0 0 10px #000;
    letter-spacing: 3px;
    font-weight: 500;
    transition: color .6s;
}

.nav li {
    background-color: transparent;
    transition: background .5s;
}

.nav li:hover {
    background-color: rgba(120, 54, 118, 0.5);
}

.nav li a:hover {
    color: tomato;
}

#home {
    position: relative;
    height: 100vh;
    min-height: 500px;
    background: url("../image/bg.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;   
}

#home .content {
    position: absolute;
    width: 100%;
    height: 30%;
    margin-top: 15%;
    background-color: transparent;
}



@-webkit-keyframes ani {
    0% {color: Crimson;}
    12.5% {color: rgb(241, 92, 76);}
    25% {color: LightSalmon;}
    37.5% {color: rosybrown;}
    50% {color: pink;}
    62.5% {color: rgb(251, 61, 181);}
    75% {color:rgb(231, 49, 74);}
    87.5% {color: rgb(98, 49, 245);}
    100% {color: indigo;}
}



@keyframes ani {
    0% {color: Crimson;}
    12.5% {color: rgb(241, 92, 76);}
    25% {color: LightSalmon;}
    37.5% {color: rosybrown;}
    50% {color: pink;}
    62.5% {color: rgb(251, 61, 181);}
    75% {color:rgb(231, 49, 74);}
    87.5% {color: rgb(98, 49, 245);}
    100% {color: indigo;}
}

.content .text-content {
    text-align: center;
    margin-bottom: 20px;
    -webkit-animation: ani;
            animation: ani;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.content .text-content:hover {
    -webkit-animation: none;
            animation: none;
    cursor: default;
}

.content .sm {
    height: 30%;
    margin-top: 30px;
    text-align: center;
    line-height: 68px;
    background-color: transparent;
}

.content .sm a {
    font-size: 200%;
    margin-right: 20px;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

.content .sm a:hover {
    color: tomato;
}

.buttons {
    position: relative;
    height: 140%;
    text-align: center;
    margin: 60px 20px;
    overflow: hidden;
}

.buttons #btn-yes {
    left: 26%;
}

.content .buttons a {
    position: absolute;
    display: inline-block;
    width: 15%;
    margin: 15px 60px;
    padding: 14px;
    border: 1px solid #00ff00;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #46f9f9ba;
    transition: color 0.7s, background 0.7s,
                 top 0.1s, left 0.1s;
}

.buttons > h4 {
    margin-bottom: 30px;
    text-shadow: 0 0 10px #ccc;
}

.content .buttons a:hover {
    text-shadow: 0 0 10px #000;
    background-color: #48dafbb5;
    color: #fff;
}

#about {
    position: relative;
    height: 70vh;
    max-width: 1400px;
    margin: 0 10% 0;
}

#about .content .about-title{
    text-transform: uppercase;  
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
    font-size: 28px;
    color: #111;
    transition: all 1s;
}

#about .content .about-title:hover {
    color: #fff;
    font-weight: 700;
    font-size: 34px;
}

#about .icon {
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    color: rgb(251, 75, 187);
}

.fa-heart:before {  
    display: inline-block;
    transition: all 1s;
}

#about .far:hover {
    font-size: 40px;
    color: tomato;
}

.content .info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.info .info-avt {
    width: 200px;
    border-radius: 50%;
    margin-right: 60px;
}

.info .info-avt:hover {
    opacity: 0.8;
}

.info .info-content {
    flex: 1;
}

.info-content .text1 {
    margin: 20px auto;
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
}

.info-content .text2 {
    margin: 20px auto;
    font-size: 17px;
    font-style: italic;
}

#contact {
    position: relative;
    height: 50vh;
    background-color: rgb(126, 28, 195);
}

#contact .contact-title .title {
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    justify-content: center;
    padding-top: 50px;
    font-size: 28px;
    color: tomato;
    transition: all 2s;
}

#contact .contact-title .title:hover {
    color: rgba(126, 28, 195, 0.5);
    font-weight: 700;
    font-size: 34px;
}
